.contact-form {
  .form-wrapper {
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;

    //box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-bottom: 40px;
  }

  form {
    width: 100%;
  }

  h3 {
    text-align: center;
    width: 100%;
    color: #111;
  }

  label {
    //font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
  }

  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }

  input::placeholder {
    // font-size: 1.2em;
    color: #999;
  }

  input.error {
    border: 1px solid red;
  }

  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  .name {
    margin-right: 1%;
  }

  .option {
    margin-left: 1%;
  }

  .message {
    height: 150px;
    resize: none;
  }
}

select:invalid {
  color: red;
}
option:first-child {
  display: none;
  color: red;
}
option {
  color: black;
}
