@import './shared/fonts';
@import './shared/colors';

@import './index';
@import './header';
@import './blogs';
@import './contact';
@import './form';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;

  margin-bottom: 30px;
  margin-top: 30px;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: white;
  background-color: #ecedee;
  min-height: 50vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

footer {
  position: relative;
  flex-shrink: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 200px;
  
  overflow: hidden;
  background: rgb(32, 36, 47);
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}
